	.fa-circle{
			opacity: .6;
	}			
	.image-container2{
		width: 100%;
		height:67%;
		background: url('../images/enter.jpg') no-repeat center center; 
		 -webkit-background-size: cover;
		background-size: cover;
		position: relative;
	}
	
	.intro-container2{
		width: 100%;
		height: auto;
		background-color: #755b69;
		text-align: center;
		color: white;
		padding-top: 35px;
		 
		
	}
	.intro-container2 h1{
		font-size: 30px;
		padding-bottom: 16px;
	}
	.intro-container2 h1,.intro-container2 p{
		
		
		font-weight: normal;
		width: 90%;
		margin: 0 auto;
		padding-bottom: 40px;
	}
	.intro-container2 p{
		font-size: 18px;
	}
	
	.id-container2{
		width: 100%;
		height: auto;
		text-align: center;
		padding: 30px 0;
	}
	.id-container2 p{
		font-size: 18px;
		font-weight: normal;
		width: 80%;
		margin: 0 auto;
		padding: 40px 0px;
	}
	
	.leaders-container2{
		width: 100%;
		height: auto;
		background-color:#1d84b5;
		display: flex; 
	}
	.leader-image-container{
		padding: 30px 0px 30px 90px;
		display: inline-block;
	}
	.text-leader-container2{
		display: inline-block;
		
	}
	.text-leader-container2 h3{
		color: white;
		font-weight: normal;
		font-size: 150%;
		width: 75%;  
		text-align: center;
		margin: 50px auto 0px auto;
	}
	.text-leader-container2 h4{
		color: black;
		font-weight: normal;
		font-size: 150%;
		width: 75%;
		text-align: center;
		margin: 20px auto 0px auto;
	}
	
	
	@media screen and (max-width: 600px){
		.leaders-container2,.leader-image-container,.text-leader-container2{
			display: block;
		}
		.leader-image-container{
			padding: 20px 0 0 0;
			width: 100%;
		}
		.leader-image-container img{
			display: block;
			margin: auto;
		}
		.text-leader-container2 h4{
			padding-bottom: 2px;
		}
		
	}
	
	
	
	
