body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}


.main_h {
		position: fixed;
		max-height: 300px;
		z-index: 1;
		width: 100%;
		padding-top: 6px;
		padding-bottom: 6px;
		font-weight: 600;
		background-color: white;
		top: 0px;
		border-bottom: lightgray 2px solid;
	}

	#mySidenav{
		display: none;
	}
	

	.logo {
		background: url('../images/innovation.jpg') no-repeat center center;
		background-size: cover;
		float: left;
		display: block;
		margin-top: 0;
		padding: 5px;
		width: 220px;
		height: 40px;
		position: relative;
	}
	nav {
  		float: right;
  		width: 60%;
	}
	nav ul {
		list-style: none;
		overflow: hidden;
		text-align: left;
		margin: 0;
		padding: 0;
	}
	nav ul li {
		display: inline-block;
		padding:10px;
		/*margin-left: 35px;*/
		line-height: 2;
		padding-left: 2%;
	}
	nav ul a {
		color: black;
		text-transform: uppercase;
		font-size: 16px;
	}

	.mobile-toggle {
		display: none;
		cursor: pointer;
		font-size: 20px;
		position: absolute;
		right: 22px;
		top: 0;
		width: 30px;
	}
	
	.mobile-toggle:hover{
		background-color: gray;
	}
	

	.row {
		width: 100%;
		/*max-width: 940px;*/
		margin:0 auto;
		position: relative;
		padding:0 2%;
	}
	.fa-circle{
			opacity: .6;
		}

.hero{
	height: calc(100vh - 125px);
	background: url(../images/immigrant.jpg);
  	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 4px blue;
    margin-top: 51px;
}
.arrow-container{
	position: absolute;
	bottom: 80px;
	width: 100%;
	text-align: center;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.middle, .go-here {
  position: relative;
  height: 30em;
}

.fa-circle {
  color: black;
}

.arrow-down {
  color: white;
}
.arrow-down .fa-stack {
  -webkit-animation: bounce 2s 3;
          animation: bounce 2s 3;
}
.arrow-down .fa-stack:hover {
  -webkit-animation: none;
          animation: none;
}
/***************START MAIN*******************/
#main{
	padding-top: 50px;
	margin-bottom: 100px;
}

#containit{
	display: flex;
}
#program-name{
	margin: 20px 0 70px 70px;
	font-size: 40px;
}

#container{
	min-height: 350px;
}

#calender{
	margin-right: 5%;
	border-left: solid 2px;
	padding-left: 30px;
	position: absolute;
	right: 10px;
}

#calender h1{
	margin-bottom: 30px;
}

.info{
	display: flex;
	margin-bottom: 30px;
}

.date{
	width: 100px;
	height: 100px;
	background-color: lightgray;
	text-align: center;
	padding-top: 10px;
	border-radius: 8px;
}
.date p{
	margin: 0;	
	font-size: 25px;
	width: 100%;
}
.num{
	font-weight: bold;
	font-size: 30px;
}

.title{
	margin: 36px 0 0 25px;
}
img{
	width: 60px;
}
.stuff{
	display: flex;
	margin-bottom: 50px;
}

.icon{
	height: 60px;
	border:solid 2px;
	border-radius: 40px;
	margin-left: -41px;
	padding: 7px;
	background-color: white;
}

.words{
	margin-left: 20px;
	width: 600px;
}

h1{
	margin: 0;
}

.words p{
	font-weight: bold;
	font-size: 20px;
	width: 100%;
}

.box {
    height: 500px;
}

#line{
  float: left;
  margin-left: 75px;
  width: 2px;
  height: 300px;
  background-color: black;
}

/*******END ADULTS*******/
footer{
		font-family:'Proxima Nova';
		border-top:lightgrey 1px solid;
		line-height:1.618;
		padding: 20px 0;
		width: 100%;
		bottom: 0;
		background-color: white;
		font-size: 12px;
		/*text-align: center;*/
	}

	.left-footer{
		display: inline-block;
		border-right: 2px solid #efefef;
		width: 49%;
		line-height:3;
		color: black;
	}
	.left-container{
		width:40%;
	}
	.right-footer{
		display: inline-block;
		width: 49%;
		line-height:2;
		float: right;
		color: black;
	}	
	footer > div.right-footer > span.left{float:left;font-weight:bolder;}
	p{font-style:italic;width:75%;}
	.icons{text-align:center;margin-top:20px;}


	
	footer *{
		margin: 0 auto;
	}
	

	@media screen and (max-width: 600px){
		.row-item{
			display: block;
			width:200px;
		}
		.row-contanier{
			display: block;
			margin-top: 30px;
			padding: 0px;
		}
		.logo{
			width: 210px;
			float: left;
		}
		.mobile-toggle{
			    cursor: pointer;
				display: block;
				top: 0px;
				right: 0px;
				background: #34495E url(../images/nav.svg) no-repeat center center;
				height: 50px;
				width: 50px;
		}
		
		.row-bar{
			background-color: grey;
		}
		#video{
			width: 100%;
		}
		.row{
			width:100%;
			min-width: 0px;
			padding: 0;
		}
		.main_h{
			width:100%;
			min-width: 0px;
			max-height: none;
			position: fixed;
			padding:0;
		}
		nav{
			display: none;
		}
		
		nav ul li{
			display: block;
			padding: 0;
			float: none;
			text-align: center;
			font-size: 20px;
		}
		nav ul a{
			text-decoration: none;
		}

		nav ul li:hover{
			background-color: grey;
			
		}
		
		nav,ul,li{
			width: 100%;
		}
			.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover, .offcanvas a:focus{
		color: #f1f1f1;
	}

	.sidenav{
		float: right;
		font-size: 36px;
		/*margin-left: 50px;*/
	}
	
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
		
		.image-container{
			min-width: 0px;
    		background-size: cover;
    		position: relative;
		}
		.text-contanier p{
			font-size: 16px;
		}
		.intro-contanier{
			min-width: 0px;
			height: auto;
			margin: 0;
			padding:30px 0;
		}
		.row-item{
			margin: 0 auto;
		}
		.contanier-two{
			min-width: 0px;
    		height: auto;
		}
		.row-cal{
			display: block;
			height: auto;
		}
		#lm{
			font-size: 20px;
		}
		.text-contanier{
			margin: 0;
			width:100%;
		}
		.partners a{
			display: inline-block;
    		margin: 20px 0px;
    		position: relative;
    		min-width: 0;
    		max-width: 100%;
		}
		.partners a img{
			width: 150px;
			height: 75px;
		}
		
		.images-contanter {
			display: inline-block;
		}
		#img1 {
			float: left;
			width: 30%;
		}
		#img2 {
			float: right;
			width: 56%;
    		padding-left: 10px;
		}
		#img3 {
			float: left;
			width: 30%;
		}
		#img4 {
			float: right;
			width: 56%;
    		padding-left: 10px;
		}
		.contanier-icons, .contanier-events{
			width:100%;
			display: block;
			float: none;
			border: none;
			position: relative;
			height: auto;
			padding: 0;
		}
		.contanier-events{
			padding: 40px 0px; 
		}
		.grey-box{
			float: none;
		}
		.partners{
			min-width: 0px;
		}
		.partners h1{
			font-size: 10px;
			letter-spacing: 5px;
		}
		.right-footer{
			height: auto;
		}
		.left-container{
			width: 100%;
			font-size: 10px;
			height: 100%;
			text-align: center;
			padding-top: 40px;
		}
		.left-footer{
			height: auto;
		}
		footer{
			min-width: 0px;
			height: auto;
			display: flex;
		}
		#mySidenav{
			display: block;
		}
		
	}

@media screen and (max-width: 1200px){
	#containit{
		display: block;
	}
	#calender{
		position: initial;
		margin-left: 50px;
		border-left: none;
		padding-left: 0;
	}
}

@media screen and (max-width: 600px){

	#line{
		margin-left: 50px;
	}
	#program-name{
		text-align: center;
		margin: 20px 0 70px 0;
	}
	#calender p{
		width: 100%;
	}
	h1{
		font-size: 22px;
	}
	.words{
		padding-right: 15px;
		margin-left: 10px;
	}
	.words p{
		font-size: 17px;
	}
	.in-email{
		text-align: center;
	}
}

