html,html body{
	height: 100%;
	
}

*{
		font-family: raleway;
		margin: 0;
		padding: 0;
	}
@font-face {
	font-family: 'Proxima Nova';
	src: url("../fonts/Nova/Mark_Simonson_Proxima_Nova_Alt_Regular_Italic.otf") format("opentype");
}	
	/*header*/
	/* Header Styling */
		.main_h {
			position: fixed;
			max-height: 300px;
			z-index: 1;
			width: 100%;
			padding-top: 6px;
			padding-bottom: 6px;
			font-weight: 600;
			background-color: white;
			top: 0px;
			border-bottom: lightgray 2px solid;
			
		}

		#mySidenav{
			display: none;
		}
		.fa-circle{
			opacity: .6;
		}

		.open-nav {
			max-height: 400px !important;
		}
		.open-nav .mobile-toggle {
			transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
		}

		.logo {
			background: url('../images/innovation.jpg') no-repeat center center;
			background-size: cover;
			float: left;
			display: block;
			margin-top: 0;
			padding: 5px;
			width: 220px;
			height: 40px;
		}
		nav {
	  		float: right;
	  		width: 60%;
		}
		nav ul {
			list-style: none;
			overflow: hidden;
			text-align: left;
		}
		nav ul li {
			display: inline-block;
			padding:10px;
			/*margin-left: 35px;*/
			line-height: 2;
			padding-left: 2%;
		}
		nav ul a {
			color: black;
			text-transform: uppercase;
			font-size: 16px;
		}

		.mobile-toggle {
			display: none;
			cursor: pointer;
			font-size: 20px;
			position: absolute;
			right: 22px;
			top: 0;
			width: 30px;
		}
		
		.mobile-toggle:hover{
			background-color: gray;
		}
		

		.row {
			width: 100%;
			/*max-width: 940px;*/
			margin:0 auto;
			position: relative;
			padding:0 2%;
		}
		#tall{
			height: 2000px;
			background-color: lavenderblush;
		}
	/* End of Header styling */
/* Container Styling*/
	.container{margin-top: 70px;}
	.content-container{width:100%;min-height:400px; background:linear-gradient(#FFF,#DDD);}
	/* First Container Styling - About */
		.image{padding:0;}
	
	/*body */
	
	
	
	.image-container{
		width: 100%;
		height: 100%;
		background: url('../images/drone.JPG') no-repeat center center; 
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		
	}
	/*************************************************/
	@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.middle, .go-here {
  position: relative;
  height: 30em;
}

.fa-circle {
  color: black;
}

.arrow-down {
  color: white;
}
.arrow-down .fa-stack {
  -webkit-animation: bounce 2s 3;
          animation: bounce 2s 3;
}
.arrow-down .fa-stack:hover {
  -webkit-animation: none;
          animation: none;
}

	/******************/
	.text-contanier{
		padding-top: 36px;
		margin: 0 auto;
		width: 60%;
		text-align: center;
	}
	.intro-contanier{
		border-top: 5px solid #0551a7;
		width: 100%;
		height: auto;
		text-decoration: none;
		position: relative;
		padding-top: 30px;
		
		
	}
	.intro-contanier h1{
		text-align: center;
		
	}
	.text-contanier p{
		margin: 0 auto;
	}
	a{
		text-decoration: none;
	}
	.intro-text{
		color:#0d6384;
		font-weight: 800; 
	}
	.contanier-two{
		padding-top: 5px;
		height: 500px;
		width: 100%;
		position: relative;
		
	}
	.row-contanier{
		/*height: 480px;*/
		display: -webkit-flex; /* Safari */
		-webkit-align-items: center; /* Safari 7.0+ */
		display: flex;
		align-items: center;
		padding: 60px 0;
	}
	.arrow-container{
		position: absolute; 
		bottom: 0%;
		width: 100%;
		font-size: 16px;
		text-align: center;
		font-weight: bold;
		
	}
	.fa-stack{
		margin-bottom: 13px;
	}
	.arrow-container a{
		color: white;	
	}
	
	.programs-left-side{
		width: 35%;
		height: 100%;
		float: left;
		padding-top: 5%;
		
	}
	.image-holder{
		width: 100px;
		height: 100px;
		
	}
	.programs-right-side{
		padding-top: 5%;
		width: 65%;
		height: 90%;
		float: left;
	}
	
	.word1{
		border-top: 5px solid rgb(255,54,194);
		padding-top: 16px;
		font-size: 130%;
		text-align: center;
		font-weight: 700;
	}
	.word2{
		border-top: 5px solid rgb(179, 48, 180);
		padding-top: 16px;
		font-size: 130%;
		text-align: center;
		font-weight: 700;
	}
	.word3{
		border-top: 5px solid rgb(6,236,84);
		padding-top: 16px;
		font-size: 130%;
		text-align: center;
		font-weight: 700;
	}
	.word4{
		border-top: 5px solid rgb(216,253,0);
		padding-top: 16px;
		font-size: 130%;
		text-align: center;
		font-weight: 700;
	}
	
	
	.row-item{
		width: 2%;
		display: inline-block;
		margin: 5px 7% 7% 7%;
		position: relative;
		-webkit-flex: 1; /* Safari 6.1+ */
		flex: 1;
	}
	.contanier-icons{
		width: 65%;
		height: 95%;
		display: inline-block;
		position: absolute;
		border-right: 5px solid black;
		text-align: center;
		
	}
	.row-cal{
		padding-top: 20px;
		width: 100%;
		display: flow-root;
	}
	.grey-box{
		width: 100px;
		height: 100px;
		background-color: lightgrey;
		padding-top: 10px;
		font-weight: 600;
		border-radius: 8px;
		display: inline-block;
		float: left;
		position: relative;
		display: block;
		top: auto;
	}
	
	.contanier-events{
		width: 25%;
		height: 100%;
		float: right;
		right: 0;
		position: absolute;
		display: inline-block;
		text-align: center;
		font-weight: 400;
		
	}
	
	.contanier-events h1{
		font-size: 150%;
	}
	/*****************************/
	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: #0551a7;
	}
	.right b{
		font-size: x-large;
		position: relative;
		top: 35px;
	}
.row-item:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 32px;
  text-align: center;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
	/****************************/
	
	.partner-container{
		width: 20%;
		height: 450px;
		display: inline-block;
		margin: 0 10px;
	}
	.partner-container img{
		height: 300px;
		width: 100%;
		
	}
	.event-date{
		margin: 0 auto;
	}

	.fade-right{
		width: 300px;
		left: 50px
	}
	.partners{
		border-top: 5px solid #0551a7;
		padding: 40px 0;
		text-align: center;
		width: 100%;
		
		
	}
	.partners h1{
		font-size: 20px;
		margin-bottom: 40px;
		letter-spacing: 10px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.text-contanier{
		font-weight: 600; 
		font-size: 20px;
	}
	
	
	footer{
		font-family:'Proxima Nova';
		border-top:lightgrey 1px solid;
		line-height:1.618;
		padding: 20px 0;
		width: 100%;
		bottom: 0;
		background-color: white;
		font-size: 12px;
		/*text-align: center;*/
	}

	.left-footer{
		display: inline-block;
		border-right: 2px solid #efefef;
		width: 49%;
		line-height:3;
		color: black;
	}
	.left-container{
		width:40%;
	}
	.right-footer{
		display: inline-block;
		width: 49%;
		line-height:2;
		float: right;
		color: black;
	}	
	footer > div.right-footer > span.left{float:left;font-weight:bolder;}
	p{font-style:italic;width:75%;}
	.icons{text-align:center;margin-top:20px;}


	
	footer *{
		margin: 0 auto;
	}
	

	@media screen and (max-width: 600px){
		.row-item{
			display: block;
			width:200px;
		}
		.row-contanier{
			display: block;
			margin-top: 30px;
			padding: 0px;
		}
		.logo{
			width: 210px;
			float: left;
		}
		.mobile-toggle{
			    cursor: pointer;
				display: block;
				top: 0px;
				right: 0px;
				background: #34495E url(../images/nav.svg) no-repeat center center;
				height: 50px;
				width: 50px;
		}
		
		.row-bar{
			background-color: grey;
		}
		#video{
			width: 100%;
		}
		.row{
			width:100%;
			min-width: 0px;
			padding: 0;
		}
		.main_h{
			width:100%;
			min-width: 0px;
			max-height: none;
			position: fixed;
			padding: 0;
		}
		nav{
			display: none;
		}
		
		nav ul li{
			display: block;
			padding: 0;
			float: none;
			text-align: center;
			font-size: 20px;
		}
		nav ul li:hover{
			background-color: grey;
			padding: 0; 
		}
		
		nav,ul,li{
			width: 100%;
		}
			.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover, .offcanvas a:focus{
		color: #f1f1f1;
	}

	.sidenav{
		float: right;
		font-size: 36px;
		/*margin-left: 50px;*/
	}
	
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
		
		.image-container{
			min-width: 0px;
    		background-size: cover;
    		position: relative;
		}
		.text-contanier p{
			font-size: 16px;
		}
		.intro-contanier{
			min-width: 0px;
			height: auto;
			margin: 0;
			padding:30px 0;
		}
		.row-item{
			margin: 0 auto;
		}
		.contanier-two{
			min-width: 0px;
    		height: auto;
		}
		.row-cal{
			display: block;
			height: auto;
		}
		#lm{
			font-size: 20px;
		}
		.text-contanier{
			margin: 0;
			width:100%;
		}
		.partners a{
			display: inline-block;
    		margin: 20px 0px;
    		position: relative;
    		min-width: 0;
    		max-width: 100%;
		}
		.partners a img{
			width: 150px;
			height: 75px;
		}
		
		.images-contanter {
			display: inline-block;
		}
		#img1 {
			float: left;
			width: 30%;
		}
		#img2 {
			float: right;
			width: 56%;
    		padding-left: 10px;
		}
		#img3 {
			float: left;
			width: 30%;
		}
		#img4 {
			float: right;
			width: 56%;
    		padding-left: 10px;
		}
		.contanier-icons, .contanier-events{
			width:100%;
			display: block;
			float: none;
			border: none;
			position: relative;
			height: auto;
			padding: 0;
		}
		.contanier-events{
			padding: 40px 0px; 
		}
		.grey-box{
			float: none;
		}
		.partners{
			min-width: 0px;
		}
		.partners h1{
			font-size: 10px;
			letter-spacing: 5px;
		}
		.right-footer{
			height: auto;
		}
		.left-container{
			width: 100%;
			font-size: 10px;
			height: 100%;
			text-align: center;
			padding-top: 40px;
		}
		.left-footer{
			height: auto;
		}
		footer{
			min-width: 0px;
			height: auto;
			display: flex;
		}
		#mySidenav{
			display: block;
		}
		
	}
	
	
	
	
	
